<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">

<listeners>
<listener class-name="com.util.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
	<class name="com.testcases.Hometest" />
	<class name="com.testcases.Productlisttest" />
	<class name="com.testcases.Productdetailstest" />
	<class name="com.testcases.Programheadertest" />
	<class name="com.testcases.ProgramStructuretest" />
	<class name="com.testcases.Coveragetermsheadertest" />
	<class name="com.testcases.Coveragetermstest" />
	<class name="com.testcases.Deductiblestest" />
	<class name="com.testcases.Endorsementstest" />
	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
